### 1. Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

Examples

remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string") ➞ ["w"]

remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon") ➞ ["b", "g", "w"]

remove_letters(["d", "b", "t", "e", "a", "i"], "edabit") ➞ []

In [29]:
def remove_letters(lst, string):
    try:
        for i in string:
            try:
                lst.remove(i)
            except:
                pass
        return lst
    except Exception as e:
        return e

In [30]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

['b', 'g', 'w']

### 2. A block sequence in three dimensions. We can write a formula for this one: 
### Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.

Examples

blocks(1) ➞ 5

blocks(5) ➞ 39

blocks(2) ➞ 12

In [32]:
def blocks(step):
    try:
        if step == 0:
            return 0
        else: 
            return 5 + sum([i for i in range(7, step+6)])
    except Exception as e:
        return e

In [33]:
blocks(5)

39

### 3. Create a function that subtracts one positive integer from another, without using any arithmetic operators such as -, %, /, +, etc.

Examples

my_sub(5, 9) ➞ 4

my_sub(10, 30) ➞ 20

my_sub(0, 0) ➞ 0

In [42]:
# Referred geeks for geeks
def my_sub(x, y):
    if x < y:
        x, y = y, x
    while (y != 0):
        borrow = (~x) & y
        x = x ^ y
        y = borrow << 1
    return x

In [45]:
my_sub(5, 9)

4

### 4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns the sum of dollar bills only, as an integer.

For the input string:

   - Each amount is prefixed by the currency symbol: $ for dollars and £ for pounds.
   - Thousands are represented by the suffix k.

i.e. $4k = $4,000 and £40k = £40,000

Examples

add_bill("d20,p40,p60,d50") ➞ 20 + 50 = 70

add_bill("p30,d20,p60,d150,p360") ➞ 20  + 150 = 170

add_bill("p30,d2k,p60,d200,p360") ➞ 2 * 1000 + 200 = 2200

In [34]:
import re
def add_bill(money):
    try:
        pattern = re.compile("d([0-9]*)([a-z]?)")
        output = re.findall(pattern, money)
        dollars = 0
        for i in output:
            if i[1] == "k":
                dollars += int(i[0]) * 1000
            else: dollars += int(i[0])
        return dollars
    except Exception as e:
        return e

In [35]:
add_bill("d20,p40,p60,d50")

70

In [36]:
add_bill("p30,d20,p60,d150,p360")

170

In [37]:
add_bill("p30,d2k,p60,d200,p360")

2200

### 5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

Examples

flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
# Take a horizontal list and flip it vertical.

flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
# Take a vertical list and flip it horizontal.

flip_list([]) ➞ []

In [1]:
def flip_list(lst):
    return [i[0] if type(i) == list else [i] for i in lst]

In [2]:
flip_list([1, 2, 3, 4])

[[1], [2], [3], [4]]

In [3]:
flip_list([[5], [6], [9]])

[5, 6, 9]