### 1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.

Examples

show_the_love([4, 1, 4]) ➞ [3, 3, 3]

show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]

show_the_love([2, 100]) ➞ [27, 75]

In [14]:
def show_the_love(lst):
    try:
        small = min(lst)
        temp = 0
        for i in range(len(lst)):
            if lst[i] != small:
                temp += lst[i] * 0.25
                lst[i] *= 1 - 0.25
        lst[lst.index(small)] += temp
        return lst
    except Exception as e:
        return e

In [15]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [16]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

In [17]:
show_the_love([2, 100])

[27.0, 75.0]

### 2. Create a function that takes in two words as input and returns a list of three elements, in the following order:

1.Shared letters between two words.

2.Letters unique to word 1.

3.Letters unique to word 2.

Each element should have unique letters, and have each letter be alphabetically sorted.

Examples

letters("sharp", "soap") ➞ ["aps", "hr", "o"]

letters("board", "bored") ➞ ["bdor", "a", "e"]

letters("happiness", "envelope") ➞ ["enp", "ahis", "lov"]

letters("kerfuffle", "fluffy") ➞ ["flu", "ekr", "y"]
# Even with multiple matching letters (e.g. 3 f's), there should 
# only exist a single "f" in your first element.

letters("match", "ham") ➞ ["ahm", "ct", ""]
# "ham" does not contain any letters that are not found already 
# in "match".

In [57]:
def letters(word1, word2):
    try:
        common = "".join(sorted(set([i for i in word1 if i in word2])))
        unique1 = "".join(sorted(set([i for i in word1 if i not in word2])))
        unique2 = "".join(sorted(set([i for i in word2 if i not in word1])))
        return [common, unique1, unique2]
    except Exception as e:
        return e

In [58]:
letters("sharp", "soap")

['aps', 'hr', 'o']

In [61]:
letters("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

In [62]:
letters("match", "ham")

['ahm', 'ct', '']

### 3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.

Examples

pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]

pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]

pairs([]) ➞ []

In [79]:
def pairs(lst):
    temp = []
    for i in range(int((len(lst)+1)/2)):
        temp.append([lst[i], lst[-i-1]])
    return temp

In [80]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [82]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

### 4. Write a function that adds two numbers. The catch, however, is that the numbers will be strings.

Examples

add_str_nums("4", "5") ➞ "9"

add_str_nums("abcdefg", "3") ➞ "-1"

add_str_nums("1", "") ➞ "1"

add_str_nums("1874682736267235927359283579235789257", "32652983572985729") ➞ "1874682736267235927391936562808774986"

In [102]:
def add_str_nums(num1, num2):
    try:
        return max(0, int(num1 or 0)) + max(0, int(num2 or 0))
    except ValueError:
        return -1

In [103]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

1874682736267235927391936562808774986

In [106]:
add_str_nums("abcdefg", "3")

-1

In [105]:
add_str_nums("1", "")

1

### 5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!

Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.

Examples

unmix("123456") ➞ "214365"

unmix("hTsii  s aimex dpus rtni.g") ➞ "This is a mixed up string."

unmix("badce") ➞ "abcde"

In [159]:
def unmix(string):
    try:
        temp = ""
        length = len(string)//2 * 2
        for i in range(0, length, 2):
            temp += string[i+1] + string[i]
        temp+= string[length:]
        return temp
    except Exception as e:
        return e

In [160]:
unmix("badce")

'abcde'

In [161]:
unmix("123456")

'214365'

In [162]:
unmix("hTsii  s aimex dpus rtni.g")

'This is a mixed up string.'