### 1: Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [14]:
def is_symmetrical(num):
    try:
        if num == int(str(num)[::-1]):
            return True
        else:
            return False
    except:
        print("Something is wrong")

In [17]:
is_symmetrical(1002001)

True

### 2. Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [23]:
def multiply_nums(num_string):
    temp = 1
    for i in num_string.split(","):
        temp = temp * int(i)
    return temp

In [27]:
multiply_nums("10, -2")

-20

In [28]:
multiply_nums("54, 75, 453, 0")

0

### 3. Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [45]:
def square_digits(num):
    temp = []
    for i in list(str(num)):
        temp.append(int(i)*int(i))
    return int("".join([str(i) for i in temp]))

In [47]:
square_digits(9119)

811181

In [37]:
list(str("911"))

['9', '1', '1']

### 4. Create a function that sorts a list and removes all duplicate items from it.
Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [54]:
def setify(lst):
    temp = []
    sort = sorted(lst)
    for i in sort:
        if i not in temp:
            temp.append(i)
        else:
            lst.remove(i)
    return sorted(lst)

In [58]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [59]:
setify([4, 4, 4, 4])

[4]

### 5. Create a function that returns the mean of all digits.
Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes
*	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
*	The mean will always be an integer.

In [69]:
def mean(num):
    temp = 0
    for i in list(str(num)):
        temp += int(i)
    return temp/(len(list(str(num))))

In [70]:
mean(42)

3.0

In [71]:
mean(12345)

3.0

In [72]:
mean(666)

6.0