### 1. What are the Boolean data type's two values? How do you go about writing them?

In [2]:
True

True

In [3]:
False

False

### 2. What are the three different types of Boolean operators?

1. and
2. or
3. not

In [5]:
True and False

False

In [6]:
True or False

True

In [10]:
not False

True

### 3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate).

In [20]:
import pandas as pd
df1 = pd.DataFrame({"x" : [1,1,0,0], "y" : [1,0,1,0], "and" : [1,0,0,1]})
df2 = pd.DataFrame({"x" : [1,1,0,0], "y" : [1,0,1,0], "or" : [1,1,1,0]})
df3 = pd.DataFrame({"x" : [1,0], "not" : [0,1]})

1. and

In [22]:
df1

   x  y  and
0  1  1    1
1  1  0    0
2  0  1    0
3  0  0    1

2. or

In [23]:
df2

   x  y  or
0  1  1   1
1  1  0   1
2  0  1   1
3  0  0   0

3. not

In [24]:
df3

   x  not
0  1    0
1  0    1

### 4. What are the values of the following expressions?

1. (5 > 4) and (3 == 5)
2. not (5 > 4)
3. (5 > 4) or (3 == 5)
4. not ((5 > 4) or (3 == 5))
5. (True and True) and (True == False)
6. (not False) or (not True)

In [40]:
one = (5 > 4) and (3 == 5)
two =  not (5 > 4)
three = (5 > 4) or (3 == 5)
four = not ((5 > 4) or (3 == 5))
five = (True and True) and (True == False)
six = (not False) or (not True)

print("1. (5 > 4) and (3 == 5)", one, "\n2. not (5 > 4)",two, "\n3. (5 > 4) or (3 == 5)",three, "\n4. not ((5 > 4) or (3 == 5))",four, "\n5. (True and True) and (True == False)",five, "\n6. (not False) or (not True)",six)

1. (5 > 4) and (3 == 5) False
2. not (5 > 4) False
3. (5 > 4) or (3 == 5) True
4. not ((5 > 4) or (3 == 5)) False
5. (True and True) and (True == False) False
6. (not False) or (not True) True

### 5. What are the six different types of reference operators?

What is a reference operator?

### 6. How do you tell the difference between the equal to and assignment operators?

Equal to operator (==)
1. It is a comparison operator
2. Used to compare two values. Returns True if both are equal, otherwise returns False.

Eg. 10==10
    
Assignment Operator (=)
1. It is an assignment operator
2. Used to assign values to a variable.

Eg. A=10

### 7. Describe a condition and when you would use one.

Boolean and Comparison operators as mentioned below can be called as a condition.

- and
- or
- not
- Equals : a==b
- Not Equals : a!=b
- Greater Than : a>b
- Less Than : a<b
- Greater Than or Equal to : a>=b
- Less Than or Equal to : a<=b

The above conditions can be used in if statements or loops.

### 8. Recognize the following three blocks in this code:

In [46]:
spam = 0
if spam == 10:
    print('eggs')         # block 1
    if spam > 5:          # block 1
        print('bacon')    # block 2 in block 1
    else:                 # block 1
        print('ham')      # block 3 in block 1
    print('spam')         # block 1
print('spam')

spam

### 9. Create a programme that prints. If 1 is stored in spam, prints Hello; if 2 is stored in spam, prints Howdy; and if 3 is stored in spam, prints Salutations! if there's something else in spam.

In [54]:
spam = 2

if spam ==1: print("Hello")
elif spam ==2: print("Howdy")
else: print("What's Up?")

Howdy

### 10. If your programme is stuck in an endless loop, what keys can you press?

CTRL + C

### 11. How can you tell the difference between break and continue?

The break statement breaks or comes out from an iteration of the loop. It terminates the execution of the loop and passes the control to the next statement.

The continue statement causes to jump to the next iteration of the loop. It skips all the statements in the current iteration.

### 12. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

There is no difference between range(10), range(0, 10), and range(0, 10, 1).
All of the above achieves the same output.

However if it was rewritten as range(5,10) and range(0,10,2) the output would change where the former would start from 5 upto 10 but not including 10 and the latter would start from 0 and end at 8 at intervals of 2.

In [68]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [67]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

### 13. Using a for loop, write a short programme that prints the numbers 1 to 10 Then, using a while loop, create an identical programme that prints the numbers 1 to 10.

In [69]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
i = 0
while i < 10:
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10

### 14. If you had a bacon() function within a spam module, what would you call it after importing spam?

spam.bacon()