### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'
with open('test.txt', 'w') as file:
    file.writelines(test1)

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.readlines()

In [3]:
test2

['This is a test of the emergency text system']

In [4]:
test1

'This is a test of the emergency text system'

The only difference is test1 contains a string while in test2 we were returned a list.

### 3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [5]:
import csv
with open('books.csv', 'w') as file:
    writer = csv.writer(file)
    writer.writerow(['title', 'author', 'year'])
    writer.writerow(['The Weirdstone of Brisingamen', 'Alan Garner', 1960])
    writer.writerow(['Perdido Street Station', 'China Miéville', 2000])
    writer.writerow(['Thud!', 'Terry Pratchett', 2005])
    writer.writerow(['The Spellman Files', 'Lisa Lutz', 2007])
    writer.writerow(['Small Gods' , 'Terry Pratchett', 1992])

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute("CREATE TABLE books(title text, author text, year integer)")
conn.commit()
conn.close()

### 5. Read books.csv and insert its data into the book table.

In [7]:
file = open('books.csv', 'r')
reader = csv.DictReader(file)
rows = [(i['title'], i['author'], i['year']) for i in reader]
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.executemany("INSERT into books ('title', 'author', 'year') VALUES (?,?,?);", rows)
cursor.execute("SELECT * FROM books")
print(cursor.fetchall())
conn.commit()
conn.close()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

### 6. Select and print the title column from the book table in alphabetical order.

In [8]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute("SELECT title FROM books ORDER BY title ASC;")
print(cursor.fetchall())
conn.commit()
conn.close()

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

### 7. From the book table, select and print all columns in the order of publication.

In [13]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute("SELECT * FROM books ORDER BY year;")
print(cursor.fetchall())
conn.commit()
conn.close()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007)]

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [23]:
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///books.db')
conn = engine.connect()
result = conn.execute("SELECT * FROM books").fetchall()
result

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
# Unable to install a Redis server on a windows machine.

In [ ]:
# I have not tested this code
import redis
redisClient = redis.StrictRedis(host='localhost', port=6379, db=0)
redisClient.hset("test", "1", "Fester Bestertester")
print(redisClient.hget("test", "1"))

### 10. Increment the count field of test and print it.

In [ ]:
# Unable to install a Redis server on a windows machine.